body {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  textarea {
    width: 55%;
    height: 55em;
    float: top;
    min-height: 250px;
    overflow: scroll;
    margin: auto;
    display: inline-block;
    background: #caf0f8;;
    outline: none;
    font-family: Courier, sans-serif;
    font-size: 14px;

  }
#js {
    display: none;
}
#html {
    display: none;
}
  iframe {
    bottom: 0;
    position: relative;
    width: 50%;
    height: 47em;
    background: #073b4c;;
  }
